h1,h2{
    margin: 0;
    padding:1.5%;
}
.post {
    width:100%;
    height:200px;
    display: flex;
    flex-direction: row;
    background-color: rgba(29, 29, 29, 0.082);
    filter: alpha(opacity=50);
    padding: 10px;
  }

  .img {
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }

  .info {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .nav{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .details p {
    margin: 0px;
    
  }
  
  .bold {
    font-weight: bold;
  }
  

button{
    margin-right: 2%;
    float: right;
}


.button_cont{
    height: fit-content;
    width: 100%;
    display: initial;
    position: relative
}
.lista{
    position: relative;
    height: auto;
    width:100%;
    display:inherit;
    margin-top: 35px;
}


.delete{
    width: 3%;
    height: 3%;
    clear: both;
}

