<div *ngIf="loading">
    <app-loading></app-loading>
  </div>
<div *ngIf="!loading" class="content">
  <div class="button_cont">.
    <button routerLink="/newEmployee">Dodaj pracownika</button>
  </div>
    <div class="post"  *ngFor="let employee of employeeList">
        <div class="img" (click)="showDetails(employee.id)">
            <img style="min-height : 15%; min-width:15%;" height="100%" width="100%" src="https://i.wpimg.pl/730x0/m.gadzetomania.pl/enhanced-buzz-16839-1297-548d0f9.jpg">
          </div>
          <div class="info">
            <div class="nav" (click)="showDetails(employee.id)">
        {{employee.forename}}&nbsp;{{employee.name}}
      </div>
     <div class="details">
          <p><b>Identyfikator: </b> {{employee.id}}</p>
          <p><b>Stanowisko: </b> {{employee.position}}</p>
          <p><b>Imie: </b> {{employee.forename}}</p>
          <p><b>Nazwisko: </b> {{employee.name}}</p>
          <p><b>Pensja: </b> {{employee.salary}}</p>
          <p><b>Premia:</b> {{employee.bonus}}</p>
        </div>
      </div>
      <div class="actions">
         <div> <img width="5%" height="5%" src="https://cdn2.iconfinder.com/data/icons/web/512/Trash_Can-512.png">
        <img height="5%" img width="5%"  src="https://cdn3.iconfinder.com/data/icons/block/32/box_edit-512.png"></div>
        </div>
    </div>

</div>