<div *ngIf="loading">
    <app-loading></app-loading>
  </div>
<div *ngIf="!loading" class="content">
  <div class="button_cont">.
      <div class="search-container">       
          <input id="search" #xbox type="text" placeholder="Search.." name="search" (keyup)="search(xbox.value)">
          <button type="submit"><i class="fa fa-search"></i></button>
      </div>
      <select id="sortDrop" (change)='setSelected()'>
          <option hidden="true">Sortuj</option>
          <option value="id">Id (rosnąco)</option>
          <option value="idOther">Id(malejąco)</option>
          <option value="name">Imienia (A-Z)</option>
          <option value="nameOther">Imienia (Z-A)</option>
          <option value="forename">Nazwiska (A-Z)</option>
          <option value="forenameOther">Nazwiska (Z-A)</option>
          <option value="position">Stanowiska (A-Z)</option>
          <option value="positionOther">Stanowiska(Z-A)</option>
          <option value="salary">Pensji (rosnąco)</option>
          <option value="salaryOther">Pensji(malejąco)</option>
          <option value="bonus">Premii (rosnąco)</option>
          <option value="bonusOther">Premii(malejąco)</option>
        </select>
    <button routerLink="/newEmployee">Dodaj pracownika</button>
    <button (click)="policz()">Wyszukaj</button>
  </div>
  <div class="content2">
      <div class="posts">
    <div class="post"  *ngFor="let employee of employeeList">
        <div class="img" (click)="showDetails(employee.id)">
            <img height="200px" width="200px" src="https://i.wpimg.pl/730x0/m.gadzetomania.pl/enhanced-buzz-16839-1297-548d0f9.jpg">
          </div>
          <div class="info">
            <div class="nav" (click)="showDetails(employee.id)">
        {{employee.forename}}&nbsp;{{employee.name}}
      </div>
     <div class="details">
          <p><b>Identyfikator: </b> {{employee.id}}</p>
          <p><b>Stanowisko: </b> {{employee.position}}</p>
          <p><b>Imie: </b> {{employee.name}}</p>
          <p><b>Nazwisko: </b> {{employee.forename}}</p>
          <p><b>Pensja: </b> {{employee.salary}}</p>
          <p><b>Premia:</b> {{employee.bonus}}</p>
        </div>
      </div>
      <div class="actions">
         <div> <img width="5%" height="5%" src="https://cdn2.iconfinder.com/data/icons/web/512/Trash_Can-512.png" (click)="delete(employee.id)" style="cursor: pointer;">
      </div>
        </div>
    </div>
  </div>
  <div class="suwak">
    <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
  </div>
</div>

</div>