<div *ngIf="loading">
    <app-loading></app-loading>
  </div>
  <div *ngIf="!loading" class="content">
    <div class="button_cont">.
      <select id="sortDrop" (change)='setSelected()'>
        <option hidden="true">Sortuj</option>
        <option value="name">Nazwy (rosnąco)</option>
        <option value="nameOther">Nazwy(malejąco)</option>
        <option value="voivodeship">Województwa (rosnąco)</option>
        <option value="voivodeshipOther">Województwa (malejaco)</option>
      </select>
      <button routerLink="/newCity">Dodaj miasto</button>
    </div>
        <div class="post" *ngFor="let city of cityList">
          <div class="img">
            <img height="200px" width="200px" src="https://stmed.net/sites/default/files/styles/1024x1024/public/grand-theft-auto%3A-vice-city-hd-wallpapers-33184-1521670.jpg?itok=JXka3TrU">
          </div>
          <div class="info">
            <div class="nav">
              {{city.id}}
            </div>
            <div class="details">
              <p><b>Nazwa: </b> {{city.name}}</p>
              <p><b>Województwo: </b> {{city.voivodeship}}</p>
              <p><b>Kod pocztowy: </b> {{city.zipcode}}</p>
            </div>
          </div>
          <div class="actions">
            <div> <img width="5%" height="5%" src="https://cdn2.iconfinder.com/data/icons/web/512/Trash_Can-512.png"
                (click)="delete(city.id)" style="cursor: pointer;">
            </div>
          </div>
        </div>
  </div>