.menu{
width: 100%
}
.header{
    width:100%;
}
.footer{
    clear: both;
    width:100%;
    font-size: 16px;
}
.moblieContent{
    width:100%;
    font-size: 16px;
}
.moblieContent button{
    font-size:30px;
}
.content{
    width:100%;
}

