<div id="modal-login" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="false" style="display:block;">
<div class="modal-dialog block-popup-login">
  <a class="close close-login fa fa-times-circle" href="/home" title="Close" data-dismiss="modal">
  </a>
  <div class="tt_popup_login">
    <strong>Zaloguj</strong>
  </div>
  <form >
    <input name="form_key" type="hidden" value="ASazaXIJmxVRXZKF">
    <div class="block-content">
      <div class="col-reg registered-account">
        <div class="email-input">
          <input id="mini-login" class="input-text" title="Username" type="text" name="login[username]" value="Użytkownik" onfocus="if(this.value !=''){this.value='';}" onblur="if(this.value == ''){this.value = 'Username';}">
        </div>
        <div class="pass-input">
            <input id="mini-password" class="input-text" title="Password" type="password" name="login[password]" value="........" onfocus="if(this.value !=''){this.value='';}" onblur="if(this.value == ''){this.value = '...........';}">
          </div>
          <div class = "ft-link-p">
          <a title="Forgot your password?" href="/forgot">Zapomniałeś swojego hasła?</a>
      </div>
      <div class = "actions">
        <div class = "submit-login">
          <button class = "button btn-submit-login" href="">Login</button>
        </div>
      </div>
    </div>
    <div style = "clear:both;"></div>
    <p class="back-link">
        <a href="">Powrót do strony głównej</a>
    </p>
  </div>
  </form>
  <form th:action="@{localhost:8080/login}" method="post">
    <div><label> User Name : <input type="text" name="user"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
</div>
</div>

