h1,h2{
    margin: 0;
    padding:1.5%;
}
.content{
    margin-left: 3%;
    margin-right: 3%;
}
.post{
    margin:1%;
    background-color: rgba(29, 29, 29, 0.082);
    filter: alpha(opacity=50);
}

.post_title{
    text-align: center;
    font-weight: bold;
}

.post_text{
    text-indent: 2%;
   width: 80%;
   padding: 1%;
   font-size: 16px;
   float:right;
   display: block;

}
.post_text p{

    margin: 0%;
}

.post_img{
    min-width: 90px;
   max-width: 16%;
   max-height: 16%;
   height: auto;
   float: left;
}



.post_date{
    text-align: right;
   clear: both;
}
.price{
    padding-bottom:1%;
     padding-right:1%
}

.kawka{
    display: inline;
}
.kawka p{
    display: inline;
}
