<div class="content">
    <div class="button_cont">.
        <button routerLink="/newPlantation">Dodaj plantację</button>
      </div>
      <div class="lista" *ngFor="let plantation of plantationList">
      <article class="post" (click)="showDetails(plantation.id)">
        <header>
          <h2 class="post_title">{{plantation.name}}</h2>
        </header>
        <div class="img_cont">
        <img class="post_img" src="https://comps.canstockphoto.pl/pole-marihuana-obraz_csp46886517.jpg">
        </div>
        <div class="post_text">
          <p><b>Identyfikator: </b> {{plantation.id}}</p>
          <p><b>Nazwa: </b> {{plantation.name}}</p>
          <p><b>Kraj: </b> {{plantation.country}}</p>
          <p><b>Region: </b> {{plantation.region}}</p>
        </div>
  
        <footer class="post_date">
            <p class="price"></p>
          </footer>
      </article>
    </div>