<div *ngIf="loading">
    <app-loading></app-loading>
  </div>
  <div *ngIf="!loading" class="content">
    <div class="button_cont">.
      <div class="search-container">
        <form action="/action_page.php">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit"><i class="fa fa-search"></i></button>
        </form>
      </div>
      <select id="sortDrop" (change)='setSelected()'>
        <option hidden="true">Sortuj</option>
        <option value="id">Id (rosnąco)</option>
        <option value="idOther">Id(malejąco)</option>
        <option value="quality">Jakosci (A-Z)</option>
        <option value="qualityOther">Jakosci (Z-A)</option>
        <option value="quantity">Ilosci (rosnąco)</option>
        <option value="quantityOther">Ilosci(malejąco)</option>
      </select>
      <button routerLink="/newHarvest">Dodaj zbiór</button>
    </div>
      <div class="content2">
        <div class="posts">
        <div class="post" *ngFor="let harvest of harvestList">
          <div class="img" (click)="showDetails(harvest.id)">
              <!-- <img style="min-height : 13%; min-width:13%;" height="100%" width="100%" src="https://files.dutchbros.com/website/menu/drink-images/Latte.png"> -->
              <img  height="200" width="200" src="https://files.dutchbros.com/website/menu/drink-images/Latte.png">
          </div>
          <div class="info">
            <div class="nav" (click)="showDetails(harvest.id)">
              {{harvest.id}}
            </div>
            <div class="details">
              <p class="origin"><b>Jakosc:</b> {{harvest.quality}}</p>
              <p><b>Ilosć: </b> {{harvest.quantity}}</p>
              <p class="price"><b>Plantacja:</b>{{harvest.plantation.id}}</p>
            </div>
          </div>
          <div class="actions">
            <div><img width="5%" height="5%" src="https://cdn2.iconfinder.com/data/icons/web/512/Trash_Can-512.png"
                (click)="delete(harvest.id)" style="cursor: pointer;">
            </div>
          </div>
        </div>
      </div>
        <div class="suwak">
          <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
        </div>
      </div>
  </div>