<div  class="post">
  <div class="main">
    <header>
        <h2 class="name">{{coffee.name}}</h2>
      </header>
      <img class="img" src="assets/images/logo.jpg">
      <div class="priceBox">
          <p class="price"><b>Cena:</b>{{coffee.price}} zl/kg</p>
        </div>
      </div>
      <div class="details">
        <p><b>Kraj pochodzenia: </b> {{coffee.origin}}</p>
        <p><b>Typ: </b> {{coffee.type}}</p>
        <p><b>Opis:</b></p>
        <p>{{coffee.description}}</p>
      </div>
     
</div>
