<div  class="post">
  <div class="main">
    <header>
      <div class="block">
        <h2 class="name">{{coffee.name}}</h2>
        <img class="delete" src="https://cdn3.iconfinder.com/data/icons/block/32/box_edit-512.png">
      </div>
      </header>
      <img class="img" src="https://cdn.shopify.com/s/files/1/1588/2635/files/morningcannabis.jpg?v=1478554223">
      <div class="priceBox">
          <p class="price"><b>Cena:</b>{{coffee.price}} zl/kg</p>
        </div>
      </div>
      <div class="details">
        <p><b>Gatunek: </b> {{coffee.species}}</p>
        <p><b>Typ: </b> {{coffee.type}}</p>
      </div>
     
</div>
