<<div class="main-container col2-right-layout">
  <div class="main">
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <ul>
              <li class="home" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                <a itemprop="url" href="" title="Go To Home Page">
                  <span itemprop="title">Strona główna</span>
                </a>
              </li>
              <li class="cms_page" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                <a itemprop="url" href="localhost:4200/about" title="About Us">
                  <strong itemprop="title">O nas</strong>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-12 col-md-12 title-page">
            <h1>O nas</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-main" style="padding-top: 0px;">
          <div class="std">
            <h2>W PERFEKCJI DOSKONAŁA JEST FIRMA KAWPOL</h2>
            <p> </p>
            <h3>SZTUKA KAWY</h3>
            <p>Prażenie kawy do perfekcji jest wymagające, ale nie misterne. Oto, jak to robimy:</p>
            <p>1) Podróżujemy po świecie, aby znaleźć najlepsze ziarna kawy.</p>
            <p>2) Kupujemy identyfikowalne ilości wspaniałych ziaren po uczciwej cenie.</p>
            <p>3) Prazymy z kunsztem i zaawansowaną technologią.</p>
            <p>4) Kontrolujemy jakość od plantatora do prażenia, od baristy do konsumenta.</p>
            <h3>MNIEJ ZNACZY LEPIEJ</h3>
            <p>Wiele naszych specjalnych ziaren pochodzi z jednej farmy, a nawet z określonego obszaru w gospodarstwie, więc są one
                ograniczone ilościowo i mają lepszą jakość.</p>
            <p>Kupujemy bezpośrednio od rolników i nawiązaliśmy silne, długotrwałe relacje oparte na dobrej
                kawie i uczciwej cenie.</p>
            <h3> </h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-right sidebar" style="padding-top:0px;">
        </div>
      </div>
    </div>
  </div>
</div>