<div class="main-container col2-right-layout">
  <div class="main">
    <div class="breadcrumbs">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <ul>
              <li class="home" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                <a itemprop="url" href="localhost:4200/home" title="Go To Home Page">
                  <span itemprop="title">Home</span>
                </a>
              </li>
              <li class="cms_page" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
                <a itemprop="url" href="localhost:4200/about" title="About Us">
                  <strong itemprop="title">About Us</strong>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-12 col-md-12 title-page">
            <h1>About Us</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-main" style="padding-top: 0px;">
          <div class="std">
            <h2>THERE IS MERIT IN PURSUING PERFECTION</h2>
            <p> </p>
            <h3>THE ART OF COFFEE</h3>
            <p>Roasting coffee to perfection is exacting, but not mysterious. Here's how we do it:</p>
            <p>1) Travel the globe to find the best coffee beans.</p>
            <p>2) Buy traceable lots of great beans at a fair price.</p>
            <p>3) Roast with artistry and advanced technology. Buy traceable lots of great bean at a fair price.</p>
            <p>4) Control quality from grower to roaster to barista to consumer.</p>
            <h3>SMALLER IS BETTER</h3>
            <p>Many of our speciality beans come from a single farm or even from a specific area on the farm, so they
              are limited in quantity and superior in quality.</p>
            <p>We buy directly from the farmers and have established strong, long-term relationships, based on good
              coffee and fair prices.</p>
            <h3> </h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-right sidebar" style="padding-top:0px;">
        </div>
      </div>
    </div>
  </div>
</div>