.post{
    margin-right: 4%;
    margin-left:4%;
}
.edit{
    width: auto;
    text-align: end;
    padding: 3% 5%;
}
.delete{
    width: 3%;
    height: 3%;
}
.img{
    max-width: 50%;
    max-height: 50%;
    align-self: center
}
header{
    text-align: center;
    padding: 4%;
    padding-bottom: 1%;
}
.main{
    text-align: center;
    align-content: center;
    width: 100%;
}
.details{
    border: 1px solid black;
    margin:5%;
    padding: 3%;
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 20px;
        font-family: inherit;
        line-height: 1.35;
        font-weight: 500;
        color: inherit;
}
.name{
    font-size: 300%;
}

.kawka{
    display: inline;
}
.kawka p{
    display: inline;
}
.one{
    display: inline;
}
button{
    margin-left:65%
}
.cont{
    width: 100%;
    padding:2%;
    padding-left: 10%
}