<div class="post">
  <header>
    <h2 *ngIf="error" style="color: red">POPRAW DANE</h2>
    <h2>Wprowadź dane</h2>
  </header>
  <div class="cont">
    <div class="one">
      <p class="one"><b>Nazwa: </b> &nbsp; </p>
      <input class="one" placeholder="____________" type="text" required  #modelbox (keyup)="setName(modelbox.value)"><br>
    </div>
  </div>
  <div class="cont">
    <div class="one">
      <p class="one"><b>Typ: </b> &nbsp; </p>
      <input class="one" placeholder="____________" type="text" required #typebox (keyup)="setType(typebox.value)"><br>
    </div>
  </div>
  <div class="cont">
    <div class="one">
      <p class="one"><b>Kraj pochodzenia: </b> &nbsp; </p>
      <input class="one" placeholder="____________" type="text" required #orbox (keyup)="setOrigin(orbox.value)"><br>
    </div>
  </div>

  <div class="cont">
    <div class="one">
      <p class="one"><b>Cena: </b> (zl/kg) &nbsp; </p>
      <input class="one" placeholder="____________" type="number" required #box (mouseup)="setParam(box.value)" (keyup)="setParam(box.value)"><br>
    </div>
  </div>
  <div class="cont">
    <div class="one">
      <p class="one"><b>Opis: </b> &nbsp; </p>
      <input class="one" placeholder="____________" type="text" required #debox (keyup)="setDesc(debox.value)"><br>
      <button (click)="submit()">Zatwierdź</button>
    </div>
  </div>
</div>