<div *ngIf="(isHandset$ | async)">
    <ul>
  <li (click)="change()"><a>Menu</a></li>
</ul>
  <div *ngIf="clicked" class="mobileMenu" >
    <ul>
    <li><a (click)="goTo(''); change()">Home</a></li>
    <li><a (click)="goTo('coffee');change()">Kawa</a></li>
    </ul>
  </div>
</div>
<div *ngIf="!(isHandset$ | async)">
  <ul>
    <li><a (click)="goTo('')">Home</a></li>
    <li><a (click)="goTo('coffee')">Kawa</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li>
  </ul>
</div>