<div class="post">
    <header>
      <h2 *ngIf="error" style="color: red">POPRAW DANE</h2>
      <h2>Wprowadź dane</h2>
    </header>
    <div class="cont">
      <div class="one">
        <p class="one"><b>Nazwa: </b> &nbsp; </p>
        <input class="one" placeholder="____________" type="text" required #nbox (keyup)="setName(nbox.value)"><br>
      </div>
    </div>
    <div class="cont">
      <div class="one">
        <p class="one"><b>Kraj: </b> &nbsp; </p>
        <input class="one" placeholder="____________" type="text" required #cbox (keyup)="setCountry(cbox.value)"><br>
      </div>
    </div>
    <div class="cont">
      <div class="one">
        <p class="one"><b>Region: </b> &nbsp; </p>
        <input class="one" placeholder="____________" type="text" required #box (keyup)="setRegion(box.value)"><br>
        <button (click)="submit()">Zatwierdź</button>
      </div>
    </div>
  </div>
