<div  class="post">
    <div class="main">
      <header>
          <h2 class="name">{{employee.name}} {{employee.forename}}</h2>
        </header>
        <img class="img" src="https://previews.123rf.com/images/wavebreakmediamicro/wavebreakmediamicro1507/wavebreakmediamicro150710663/42328316-happy-barista-looking-at-camera-and-gesturing-thumbs-up-in-the-bakery.jpg">
        
        </div>
        <div class="details">
          <p><b>Imie: </b> {{employee.forename}}</p>
          <p><b>Nazwisko: </b> {{employee.name}}</p>
          <p><b>Stanowisko:</b>{{employee.position}} </p>
          <p><b>Pensja:</b>{{employee.salary}} </p>
          <p><b>Premia:</b>{{employee.bonus}} </p>
          <p><b>Etat:</b>{{employee.regularPost}} </p>
        </div>
       
  </div>
  