<div class="post">
  <header>
    <h2 *ngIf="error" style="color: red">POPRAW DANE</h2>
    <h2>Wprowadź dane nowego pracownika:</h2>
  </header>
  <div class="cont">
    <div class="one">
      <p class="one"><b>Imie: </b> &nbsp; </p>
      <input class="one" placeholder="Imie" type="text" required #fbox (keyup)="setForename(fbox.value)"><br>
    </div>
  </div>
  <div class="cont">
    <div class="one">
      <p class="one"><b>Nazwisko: </b> &nbsp; </p>
      <input class="one" placeholder="Nazwisko" type="text" required #nbox (keyup)="setName(nbox.value)"><br>
    </div>
  </div>
  <div class="cont">
    <div class="one">
      <p class="one"><b>Stanowisko: </b> &nbsp; </p>
      <input class="one" placeholder="Stanowisko" type="text" required #pbox (keyup)="setPosition(pbox.value)"><br>
    </div>
  </div>
  <div class="cont">
    <div class="one">
      <p class="one"><b>Zarobki: </b> &nbsp; </p>
      <input class="one" placeholder="Zarobki" type="number" required #sabox (mouseup)="setSalary(sabox.value)"
        (keyup)="setSalary(sabox.value)"><br>
    </div>
  </div>
  <div class="cont">
    <div class="one">
      <p class="one"><b>Bonus: </b> &nbsp; </p>
      <input class="one" placeholder="Bonus" type="number" required #bbox (mouseup)="setBonus(bbox.value)"
        (keyup)="setBonus(bbox.value)"><br>
        <button (click)="submit()">Zatwierdź</button>
    </div>
  </div>
</div>