<div *ngIf="loading">
  <app-loading></app-loading>
</div>
<div *ngIf="!loading" class="content">
    <div class="button_cont">.
        <div class="search-container">
            <form action="/action_page.php">
              <input type="text" placeholder="Search.." name="search">
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
        <select id="sortDrop" (change)='setSelected()'>
            <option hidden="true">Sortuj</option>
            <option value="id">Id (rosnąco)</option>
            <option value="idOther">Id(malejąco)</option>
            <option value="name">Nazwy (A-Z)</option>
            <option value="nameOther">Nazwy (Z-A)</option>
            <option value="supply">Zapasu (rosnąco)</option>
            <option value="supplyOther">Zapasu (malejąco)</option>
          </select>
        <button routerLink="/newMagazine">Dodaj magazyn</button>
      </div>
    <div class="post" *ngFor="let magazine of magazineList">
        <div class="img" (click)="showDetails(magazine.id)">
            <img style="min-height : 15%; min-width:15%;" height="100%" width="100%" src="https://pixel.nymag.com/imgs/daily/grub/2017/06/26/26-amazon-warehouse.w330.h330.jpg">
          </div>
          <div class="info">
            <div class="nav" (click)="showDetails(magazine.id)">
                {{magazine.name}}
      </div>
      <div class="details">
        <p><b>Identyfikator: </b> {{magazine.id}}</p>
        <p><b>Nazwa: </b> {{magazine.name}}</p>
        <b>Dostępność: </b><span *ngIf="magazine.coffeeAvailability">dostępna</span><span *ngIf="!(magazine.coffeeAvailability)">niedostępna</span>
        <p><b>Dostawa: </b> {{magazine.supply}}</p>
      </div>
    </div>
    <div class="actions">
      <div> <img width="5%" height="5%" src="https://cdn2.iconfinder.com/data/icons/web/512/Trash_Can-512.png" (click)="delete(magazine.id)"
          style="cursor: pointer;">
      </div>
    </div>
  </div>
</div>