h1,h2{
    margin: 0;
    padding:1.5%;
}
.content{
    margin-top:3%;
    margin-left: 3%;
    margin-right: 3%;
}

button{
    float: right;
}

.post_title{
    text-align: center;
    font-variant: small-caps;
}

.post_text{
    text-indent: 2%;
   width: 80%;
   padding: 1%;
   float:right;

}
.post_text p{

    margin: 0%;
}

.post_img{
    min-width: 13%;
   max-width: 14%;
   max-height: 14%;
   min-height: 13%;
   float: left;
}

.post_date{
    text-align: right;
   clear: both;
}
.price{
    padding-bottom:1%;
     padding-right:1%
}
