<div *ngIf="loading">
    <app-loading></app-loading>
  </div>
<div *ngIf="!loading" class="content">
  <div class="button_cont">.
      <div class="search-container">
          <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
      <select id="dropdown" (change)='setSelected()'>
          <option hidden="true">Sortuj</option>
          <option value="login">Id (rosnąco)</option>
          <option value="registration">Id(malejąco)</option>
          <option value="">Nazwy (A-Z)</option>
          <option value="">Nazwy (Z-A)</option>
          <option value="">Gatunku (A-Z)</option>
          <option value="">Gatunku(Z-A)</option>
          <option value="">Typu (A-Z)</option>
          <option value="">Typu(Z-A)</option>
          <option value="">Ceny (rosnąco)</option>
          <option value="">Ceny(malejąco)</option>
        </select>
    <button routerLink="/newCoffee">Dodaj kawę</button>
  </div>
<div class="post" *ngFor="let coffee of coffeeList">
    <div class="img" (click)="showDetails(coffee.id)">
        <img style="min-height : 13%; min-width:13%;" height="100%" width="100%" src="https://files.dutchbros.com/website/menu/drink-images/Latte.png">
      </div>
      <div class="info">
        <div class="nav" (click)="showDetails(coffee.id)">
            {{coffee.name}}
  </div>
 <div class="details">
    <p class="origin"><b>Gatunek:</b> {{coffee.species}}</p>
    <p><b>Typ: </b> {{coffee.type}}</p>
    <p class="price"><b>Cena:</b>{{coffee.price}} zl/kg</p>
    </div>
  </div>
  <div class="actions">
     <div> <img width="5%" height="5%" src="https://cdn2.iconfinder.com/data/icons/web/512/Trash_Can-512.png" (click)="delete(coffee.id)" style="cursor: pointer;">
  </div>
    </div>
</div>
</div>
