h1,h2{
    margin: 0;
    padding:1.5%;
}
.post {
    width:90%;
    height:200px;
    display: flex;
    flex-direction: row;
    background-color: rgba(29, 29, 29, 0.082);
    filter: alpha(opacity=50);
    padding: 10px;
  }

  .img {
    display:flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
  }

  .info {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .nav{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
  }

  .details {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .details p {
    margin: 0px;
    
  }
  
  .bold {
    font-weight: bold;
  }
  

button{
    margin-right: 2%;
    float: right;
}


.button_cont{
    height: fit-content;
    width: 100%;
    display: initial;
    position: relative
}


.actions {
    flex-grow: 1;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .actions div {
    margin-left:10px;
  }

  

