<div  class="post">
    <div class="main">
      <header>
          <h2 class="name">{{plantation.name}}</h2>
        </header>
        <img class="img" src="https://collegecandy.files.wordpress.com/2017/04/shutterstock_559781563.jpg?quality=88&w=750">
        
        </div>
        <div class="details">
          <p><b>Identyfikator: </b> {{plantation.id}}</p>
          <p><b>Nazwa: </b> {{plantation.name}}</p>
          <p><b>Kraj:</b>{{plantation.country}} </p>
          <p><b>Region:</b>{{plantation.region}} </p>
        </div>
       
  </div>
  
