.post{
    margin-right: 3%;
    margin-left:3%;
}
.img{
    max-width: 50%;
    max-height: 50%;
    align-self: center
}
.main{
    text-align: center;
    align-content: center;
    width: 100%;
}
.details{
    border: 1px solid black;
    margin:5%;
    padding: 3%;
        margin-top: 0px;
        margin-bottom: 5px;
        font-size: 20px;
        font-family: inherit;
        line-height: 1.35;
        font-weight: 500;
        color: inherit;
}
.name{
    padding-top:3%;
    font-size: 300%;
}
