<div class="crop">
<img class="image" src="../../assets/images/logo.jpg">
</div>    <div class="header-bottom-right">
        <div class="menu-group-header-bottom">
            <div class="menu-group-header-content">
                <a class="btn-menu-group" href="costam" title="Menu"></a>
                <div class="dropdown-block-menu-group">
                    <div class="acount-gropup-menu">
                        <a class="popup-login" href="/login" title="Login">Login</a>
                        <a href="/registration" title="Register">Register</a>
                        <a class="myaccount-link" href="mojekonto" title="My Account">My Account</a>
                        <ul class="links">
                            <li class="last">
                                <a class="top-link-checkout" href="czekaut" title="Checkout">Checkout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
    </div>