<div class="main-container col1-layout">
  <div class="main">
    <div class="col-main">
      <div class="container" style="clear:both">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <div class="account-create">
              <div class="page-title">
                <div class="page-title">
                  <h1>WELCOME TO MERIT COFFEE ROASTING COMPANY WHOLESALER SERVICES</h1>
                </div>
                <p>We’re proud you have decided to become part of our wholesaler family and strive to provide your customers with only the most delicious, fair sourced and priced coffee. Please note that wholesaler services are only for retailers. For individual coffee subscription services, please visit our 
                  Questions? Email <a href="mailto:jan.piotrowski00@gmail.com">jan.piotrowski00@gmail.com</a>
                </p>
                <br>
                <div class="page-title">
                  <h1>Wholesale Account Inquiry</h1>
                </div>
                <form id="form-validate" action="dodaj" method="POST">
                  <div class="row">
                    <div class="col-lg-6 col-md-6">
                      <div class="fieldset">
                        <h2 class="legend">Personal Information</h2>
                        <ul class="form-list">
                          <li class="fields">
                            <div class="customer-name row">
                              <div class="field name-firstname col-md-6 col-sm-6 col-xs-6">
                                <label class="required" for="firstname">First Name</label>
                                <div class="input-box">
                                  <input id="firstname" class="input-text required-entry" type="text" name="firstname" value="" title="First Name" maxlength="255">
                                </div>
                              </div>
                              <div class="field name-lastname col-md-6 col-sm-6 col-xs-6">
                                <label class="required" for="lastname">Last Name</label>
                                <div class="input-box">
                                  <input id="lastname" class="input-text required-entry" type="text" name="lastname" value="" title="Last Name" maxlength="255"> 
                                </div>
                              </div>
                              </div>
                          </li>
                          <li>
                            <label class="required" for="email address">Email Address</label>
                            <div class="input-box">
                                <input id="email_address" class="input-text validate-email" type="text" name="email" value="" title="Email Address"> 
                            </div>
                          </li>
                          <li class="fields">
                            <label class="" for="customer_contact_email">Contact Email</label>
                            <div class="input-box">
                                <input id="customer_contact_email" class="input-text" type="text" name="customer_contact_email" value=""> 
                            </div>
                          </li>
                          <li class="fields">
                              <label class="" for="customer_bussiness_name">Bussiness Name</label>
                              <div class="input-box">
                                  <input id="customer_bussiness_name" class="input-text" type="text" name="customer_bussiness_name" value=""> 
                              </div>
                            </li>
                            <li class="fields">
                                <label class="" for="customer_phone">Phone</label>
                                <div class="input-box">
                                    <input id="customer_phone" class="input-text" type="text" name="customer_phone" value=""> 
                                </div>
                              </li>
                              <li class="fields">
                                  <label class="" for="customer_website">Website</label>
                                  <div class="input-box">
                                      <input id="customer_website" class="input-text" type="text" name="customer_website" value=""> 
                                  </div>
                                </li>
                                <li class="fields">
                                    <label class="" for="customer_bussiness">What type of bussiness are you?</label>
                                    <div class="input-box">
                                        <input id="customer_bussiness" class="input-text" type="text" name="customer_bussiness" value=""> 
                                    </div>
                                  </li>
                                  <li class="fields">
                                      <label class="" for="customer_isopen">Are you currently open, or will you be opening soon?</label>
                                      <div class="input-box">
                                          <input id="customer_isopen" class="input-text" type="text" name="customer_isopen" value=""> 
                                      </div>
                                    </li>
                                    <li class="control">
                                        <div class="input-box">
                                            <input id="is_subscribed" class="checkbox" type="checkbox" name="is_subscribed" title="Sign Up for Newsletter" value="1"> 
                                        </div>
                                        <label for="is_subscribed">Sign Up for Newsletter</label>
                                      </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                      <div class="fieldset">
                        <h2 class = "legend">Login Information</h2>
                        <ul class="form-list">
                          <li class ="fields">
                            <div class="field" style="margin-bottom:5px;">
                            <label class="required" for="passsword">Password</label>
                            <div class="input-box">
                                <input id="password" class="input-text required-entry validate-password" type="password" name="password" title="Password"> 
                            </div>
                            </div>
                            <div class ="field">
                              <label class="required" for="confirmation">Confirm Password</label>
                              <div class="input-box">
                                  <input id="confirmation" class="input-text required-entry validate-cpassword" type="password" name="confirmation" title="Confirm Password"> 
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="buttons-set">
                    <p class="back-link">
                      <a class = "back-link" href="/home">
                      Back
                      </a>
                    </p>
                    <button class="button" type="submit" title="Submit">
                      <span>
                        <span>Submit</span>
                      </span>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
