::before, ::after{
    box-sizing: border-box;
}

.clearer::after, .header-container::after, .header-container .top-container::after, .header::after, #nav::after, .main::after, .footer::after, .footer-container .bottom-container::after, .col-main::after, .col2-set::after, .col3-set::after, .col3-layout .product-options-bottom .price-box::after, .col4-set::after, .search-autocomplete li::after, .block .block-content::after, .block .actions::after, .block li.item::after, .block-poll li::after, .block-layered-nav .currently li::after, .page-title::after, .products-list li.item::after, .box-account .box-head::after, .dashboard .box .box-title::after, .box-reviews li.item::after, .box-tags li.item::after, .pager::after, .sorter::after, .ratings::after, .add-to-box::after, .add-to-cart::after, .product-essential::after, .product-collateral::after, .product-view .product-img-box .more-views ul::after, .product-view .box-tags .form-add::after, .product-view .product-shop .short-description::after, .product-view .box-description::after, .product-options .options-list li::after, .product-options-bottom::after, .product-review::after, .cart::after, .cart-collaterals::after, .cart .crosssell li.item::after, .opc .step-title::after, .checkout-progress::after, .multiple-checkout .place-order::after, .group-select li::after, .form-list li::after, .form-list .field::after, .buttons-set::after, .page-print .print-head::after, .advanced-search-summary::after, .gift-messages-form .item::after, .send-friend .form-list li p::after {
display: block;
content: ".";
clear: both;
font-size: 0;
line-height: 0;
height: 0;
overflow: hidden;
}

.main{
    margin: 0 auto;
    min-height: 400px;
    padding: 0px 0px 40px;
    text-align: left;
    
}

.col1-layout .col-main{
    float: none;
    width: auto;
}

.col-main, .sidebar{
    padding-top: 30px;
}

.container::after{
    clear: both;
}

.container::before, .container::after{
    display: table;
    content: " ";
}

.container{
    width: 100% !important;
    max-width: 1200px !important;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row::after{
    clear: both;
}

.row::before, .row::after{
    display: table;
    content: " ";
}

.row{
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
}

.col-lg-12, .col-md-12{
    width: 100%;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.page-title{
    width: 100%;
    overflow: hidden;
    margin: 0 0 10px;
}

.page-title h1{
    font-size: 128.571%;
    color: #363636;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 3px;
    margin-top: 4px;
}

h1{
    font-family: inherit;
    margin: 0 0 5px;
    line-height: 1.35;
}

ul.resp-tabs-list, p{
    margin: 0;
    padding: 0;
}

a{
    color: #444444;
    text-decoration: none;
    background: transparent;
}

.col-lg-6, .col-md-6{
    width: 50%;
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11 {
    float: left;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {
    float: left;
}

.account-create .fieldset{
    min-height: 244px;
    background-color: #fff;
}

.fieldset{
    border: 1px solid #e5e5e5;
    padding: 20px;
    margin-bottom: 20px;
}

.fieldset .legend{
    border-bottom: 1px solid #e5e5e5;
    font-size: 108.03%;
    font-weight: bold;
    margin: 0 0 14px;
    padding: 0 0 5px;
    text-transform: uppercase;
}

ul, ol{
    list-style: none;
    margin-top: 0;
    margin-bottom: 10px;
}

.form-list li{
    margin-bottom: 8px;
}

.required::after{
    content: "*";
color: #eb340a;
}

.account-create .input-box{
    width: 100%;
}

.form-list .input-box{
    display: block;
    clear: both;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.account-create .form-list .input-text{
    width: 100%;
}

input.input-text{
    height: 36px;
    padding: 0 5px;
}

input.input-text, select, textarea{
    background: #fff;
    border: 1px solid #e5e5e5;
}

input[type="text"], .qty, select {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

input{
    vertical-align: middle;
    color: #636363;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

.form-list label {
    float: left;
    color: #666;
    font-weight: bold;
    position: relative;
    z-index: 0;
    margin-bottom: 0px;
}

label{
    font-weight: normal !important;
    font-size: 100%;
    display: inline-block;
}

.form-list select {
    width: 100%;
    height: 33px;
}

input.input-text, select, textarea {
    background: #fff;
    border: 1px solid #e5e5e5;
}

select {
    width: 100%;
    height: 33px;
    padding: 0 5px;
}

input.checkbox {
    float: left;
    margin: 1px 5px 0 0;
}

input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
    padding: 0;
    box-sizing: border-box;
}

.checkbox {
    display: block;
    min-height: 20px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.buttons-set {
    clear: both;
    text-align: right;
}

.buttons-set .back-link {
    float: left;
    margin: 0;
}

.buttons-set button.button {
    float: right;
    margin-left: 5px;
    margin-right: auto;
}

.button {
    cursor: pointer;
    line-height: 36px;
    white-space: nowrap;
    color: #fff;
    font-size: 107.69%;
    font-weight: 700;
}