<div *ngIf="loading">
    <app-loading></app-loading>
  </div>
  <div *ngIf="!loading" class="content">
    <div class="button_cont">.
      <select id="sortDrop" (change)='setSelected()'>
        <option hidden="true">Sortuj</option>
        <option value="id">Id (rosnąco)</option>
        <option value="idOther">Id(malejąco)</option>
      </select>
      <button routerLink="/newDelivery">Dodaj dostawę</button>
      <button (click)="policz()">Wyszukaj</button>
    </div>
      <div class="content2">
        <div class="posts">
        <div class="post" *ngFor="let delivery of deliveryList">
          <div class="img" >
              <!-- <img style="min-height : 13%; min-width:13%;" height="100%" width="100%" src="https://files.dutchbros.com/website/menu/drink-images/Latte.png"> -->
              <img  height="200px" width="200px" src="https://static.turbosquid.com/Preview/2014/07/09__23_04_06/mack_02.jpg5136edca-3eb2-45cb-ac3f-e434404c38f7Original.jpg">
          </div>
          <div class="info">
            <div class="nav" >
              {{delivery.id}}
            </div>
            <div class="details">
              <p class="origin"><b>Rodzaj transportu:</b> {{delivery.conveyance}}</p>
              <p class="origin"><b>Id Plantacji:</b> {{delivery.plantation.id}}</p>
              <p class="origin"><b>Id Magazynu:</b> {{delivery.magazine.id}}</p>
              <p class="origin"><b>Ilosc kawy:</b> {{delivery.quantity}}</p>
            </div>
          </div>
          <div class="actions">
          </div>
        </div>
      </div>
        <div class="suwak">
          <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
        </div>
      </div>
  </div>