<div  class="post">
    <div class="main">
      <header>
        <div class="block">
          <h2 class="name">{{bill.id}}</h2>
          <img class="delete" src="https://cdn3.iconfinder.com/data/icons/block/32/box_edit-512.png">
        </div>
        </header>
        <img class="img" src="https://s2.dziennik.pl/pliki/9383000/9383353-paragony-900-555.jpg">
        <div class="priceBox">
            <p class="price"><b>Identyfikator:</b>{{bill.id}}</p>
          </div>
        </div>
        <div class="details">
          <p><b>Wartosc netto: </b> {{bill.netValue}}</p>
          <p><b>Wartosc brutto: </b> {{bill.grossValue}}</p>
          <p><b>Wysokosc VAT:</b> {{bill.vatValue}}</p>
          <p><b>Zniżka:</b> {{bill.discount}}</p>
        </div>
       
  </div>
  