<div  class="post">
    <div class="main">
      <header>
        <div class="block">
          <h2 class="name">{{bill.id}}</h2>
          <img class="delete" src="https://cdn3.iconfinder.com/data/icons/block/32/box_edit-512.png">
        </div>
        </header>
        <img class="img" src="https://cdn.shopify.com/s/files/1/1588/2635/files/morningcannabis.jpg?v=1478554223">
        <div class="priceBox">
            <p class="price"><b>Identyfikator:</b>{{bill.id}}</p>
          </div>
        </div>
        <div class="details">
          <p><b>Wartosc netto: </b> {{bill.netValue}}</p>
          <p><b>Wartosc brutto: </b> {{bill.grossValue}}</p>
          <p><b>Wysokosc VAT:</b> {{bill.vatValue}}</p>
          <p><b>Zniżka:</b> {{bill.discount}}</p>
        </div>
       
  </div>
  