<footer> 
  <div class="footer">
    <div class="footer-middle">
      <div class="container">
        
        <div class="col-lg-5 col-md-5 ft-contact-us">
          <div class="block ft-contact-us">
            <div class="title">
              
              CONTACT US
            </div>
            <p class="address">Address : 2001 S Presa St, San Antonio</p>
            <p class="email">Email:wholesale@meritcoffee.com</p>
            <p class="phone">Phone: <a title="Call" href="tel:(85)66666666">85.666.666.666</a></p>
          </div>
        </div>
      
      <div class="col-lg-2 col-md-2 ft-my-account">
        <div class="block ft-my-account">
          <div class="title">
         
            MY ACCOUNT
          </div>
          <div class="content">
            <ul>
              <li><a title="My account" href="moje konto">  My account</a></li>
              <li><a title="My orders" href="my orders"> My orders</a></li>
              <li><a title="Login" href="login"> Login</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 ft-information">
        <div class="block ft-information">
          <div class="title"> INFORMATION</div>
          <div class="content">
            <ul>
              <li><a title="About us" href="about us"> About us</a></li>
              <li><a title="Contact us" href="contact us">Contact us</a></li>
              <li><a title="Terms of Use" href="terms of use"> Terms of Use</a></li>
              <li><a title="Privacy Police" href="privacy police">Privacy Police</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 ft-why-choose">
        <div class="block ft-why-choose">
          <div class="title">
            POLICIES
          </div>
          <div class="content">
            <ul>
              <li><a title="Returns and Exchanges" href="RoE"> Shipping & Returns</a></li>
              <li><a title="Wholesale Procedures" href="wholesale procedures">Wholesale Procedures</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="footer-copyright-content">
        <div class="row">
          <div class="col-lg-6 col-md-7">
            <div class="copyright-footer">
              <address>© 2018 Merit Coffee Wholesale. All Rights Reserved.</address>
            </div>
          </div>
          <div class="col-lg-6 col-md-5">
            <div class="payment-footer">
              <p><img alt="Payment" src="obrazeczek" width="100%" height="100%"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
