<footer>
  <div class="footer">
    <div class="footer-middle">
      <div class="container">

        <div class="col-lg-5 col-md-5 ft-contact-us">
          <div class="block ft-contact-us">
            <div class="title">

              KONTAKT
            </div>
            <p class="address">Address : Wiejska 3 15-561, Bialystok</p>
            <p class="email">Email:kawpol@kawpol.com</p>
            <p class="phone">Phone: <a title="Call" href="tel:(85)66666666">85.666.666.666</a></p>
          </div>
        </div>

        <div class="col-lg-2 col-md-2 ft-my-account">
          <div class="block ft-my-account">
            <div class="title">

              MOJE KONTO
            </div>
            <div class="content">
              <ul>
                <li><a title="My account" href="moje konto"> Moje konto</a></li>
                <li><a title="My orders" href="my orders"> Moje zamówienia</a></li>
                <li><a title="Login" href="/login"> Login</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-2 ft-information">
          <div class="block ft-information">
            <div class="title"> INFORMACJE</div>
            <div class="content">
              <ul>
                <li><a title="About us" href="/about"> O nas</a></li>
                <li><a title="Contact us" href="contact us">Kontakt</a></li>
                <li><a title="Terms of Use" href="terms of use"> Warunki korzystania</a></li>
                <li><a title="Privacy Police" href="privacy police">Polityka prywatnosci (RODO ;))</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 ft-why-choose">
          <div class="block ft-why-choose">
            <div class="title">
              ZASADY
            </div>
            <div class="content">
              <ul>
                <li><a title="Returns and Exchanges" href="RoE"> Dostawa&zwroty</a></li>
                <li><a title="Wholesale Procedures" href="wholesale procedures">Procedury hurtowni</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="footer-copyright-content">
        <div class="row">
          <div class="col-lg-6 col-md-7">
            <div class="copyright-footer">
              <address>© 2019 Hurtownia Kawpol. Wszelkie prawa zastrzeżone.</address>
            </div>
          </div>
          <div class="col-lg-6 col-md-5">
            <div class="payment-footer">
              <p><img alt="Payment" src="obrazeczek" width="100%" height="100%"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>