<div  class="post">
    <div class="main">
      <header>
          <h2 class="name">{{customer.name}} {{customer.forename}}</h2>
        </header>
        <img class="img" src="https://st.depositphotos.com/1760420/4036/i/950/depositphotos_40369015-stock-photo-man-writing-happy-client-on.jpg">
        
        </div>
        <div class="details">
          <p><b>Imie: </b> {{customer.forename}}</p>
          <p><b>Nazwisko: </b> {{customer.name}}</p>
          <p><b>Numer Telefonu:</b>{{customer.telephoneNumber}} </p>
          <p><b>Ulica:</b>{{customer.street}} </p>
          <p><b>Numer Domu:</b>{{customer.houseNumber}} </p>
          <p><b>Miasto:</b></p>
        </div>
       
  </div>
  